{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"],
        "paths": ["."]
      },
      "babel-module": {}
    }
  },
  "overrides": [{
    "files": ["app/*/*/*", "app/*/*"],
    "rules": {
      "no-restricted-imports": ["off", {
        "patterns": ["../*"]
      }]
    }
  }],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "arrow-parens": "off",
    "semi": "off",
    "comma-dangle": "off",
    "import/first": ["error", {
      "absolute-first": "off"
    }],
    "import/newline-after-import": ["error", {
      "count": 1
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "import/no-unresolved": ["error", {
      "ignore": ["@types\/"],
      "caseSensitive": false
    }],
    "import/order": ["error", {
      "groups": [
        ["builtin", "external"],
        ["internal"],
        ["index", "sibling", "parent"]
      ],
      "newlines-between": "always"
    }],
    "import/prefer-default-export": "off",
    "indent": "off",
    "jsx-quotes": ["warn", "prefer-single"],
    "max-len": ["error", {
      "code": 200,
      "ignorePattern": "import \\{?\\s?.*\\s?\\}? from '.*';"
    }],
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "no-restricted-imports": ["error", {
      "patterns": ["../../*"]
    }],
    "object-curly-newline": "off",
    "quotes": ["warn", "single"],
    "no-console": "off",
    "func-names": "off",
    "space-before-function-paren": "off"
  }
}